* {
    box-sizing: border-box;
}
body {
    background-color: rgba(215, 210, 204, 0.618);
    background-image: url("will-suddreth-349366.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1200px;
}

.shopping-cart-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-family: 'Noto Sans', sans-serif;
    color: #4f9bb5;
    font-size: 24px;
    border: 0.5px solid #71b0c6;
    width: 30%;
    padding: 5px;
    text-shadow: 0 1px black;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 5px grey;
}

.shopping-list {
    background-color: #999393;
    
    border: 1px solid#71b0c6;
    border-radius: 5px;
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 1px 5px grey;
}

.shopping-notes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* opacity: 0.3; */
    margin: 10px 30px;
    padding: 50px;
}

.item-title {
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    margin-left: 10px;
    font-weight: 400;
}

.byline {
    font-family: 'Inconsolata', monospace;
    font-size: 22px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.delete {
    font-family: 'Inconsolata', monospace;
    font-size: 10px;
    border: 1px solid purple;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    background: plum;
    
    margin-left: 450px;
    cursor: pointer;
}

.delete:hover {
    background-color: purple;
    color: #fff;
    border: 1px solid purple;
}

.form {
    background-color: #CEBFC4;
    border: 1px solid#71b0c6;
    border-radius: 5px;
    /* width: 30%; */
    box-shadow: 0 1px 5px grey;
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.add-title {
    font-family: 'Kalam', cursive;
    font-size: 18px;
    margin-left: 10px;
    font-weight: 400;
    padding: 0;
    margin: 5px 10px;
}

input {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #71b0c6;
}

button {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    padding: 4px;
    width: 35%;
    height: 20%;
    border-radius: 4px;
    background-color: #88E188;
    margin-left: 12px;
    margin-top: 2px;
    cursor: pointer;
}

button:hover {
    background-color: #D1C2C7;
    color: black;
}

.continue {
    padding-top: 0;
    margin-left: 950px;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    padding: 5px;
    width: 15%; 
    border-radius: 10px;
    background-color: #D7CBCF;
    cursor: pointer;
}