* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
body {
    background-color: rgba(215, 210, 204, 0.618);
    background-image: url("will-suddreth-349366.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1200px;
}

.shopping-cart-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Mono', monospace;
    color: #4f9bb5;
    font-size: 32px;
    min-width: 50%;
    padding: 20px 70px;
    text-shadow: 0 1px black;
    border-radius: 5px;
    box-shadow: 0 1px 5px grey;
}

.shopping-list {
    position: relative;
    background-color: #999393;
    border: 1px solid#71b0c6;
    border-radius: 5px;
    width: 30%;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 1px 5px grey;
}

.shopping-notes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* opacity: 0.3; */
    margin: 10px 30px;
    padding: 40px;
}

.item-title {
    justify-content: space-around;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
    margin-left: 10px;
    font-weight: 400;
}

.byline {
    font-family: 'Inconsolata', monospace;
    font-size: 22px; 
    padding: 0px 10px;
    margin-top: 0;
}

.item-name {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    color: black;
    background: #9ccbdc;
    border-radius: 5px;
    padding: 2px;
    margin: 5px 10px;
    width: 90%;
}

.click-update {
    margin: 2px 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
    color:white;
    text-shadow: 1px 0 0 black;
}

.clear {
    display: flex;
    justify-content: flex-start;
    margin-top: -5px;
    position: absolute;
    top: -2px;
    right: -6px;
    padding: 0;
    border: none;
    color: white;
    font-size: 8px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 1px 5px grey;
    background-color: purple;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.clear:hover {
   background-color: red;
}

.form {
    background-color: #999393;
    border: 1px solid#71b0c6;
    border-radius: 5px;
    box-shadow: 0 1px 5px grey;
    width: 40%;
    margin-top: 10px;
    margin-left: 10px;
}

h2 {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    color:white;
    text-shadow: 1px 0 0 black;
    margin-left: 10px;

}
.add-title {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    color: purple;
    background-color: white;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: 400;
    padding: 5px;
    margin: 5px 10px;
}

input {
    /* display: flex;
    flex-direction: column; */
    margin: 10px 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #71b0c6;
}

button {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    padding: 4px;
    width: 35%;
    height: 20%;
    border-radius: 4px;
    background-color: #D1C2C7;
    margin-left: 12px;
    margin-top: 2px;
    cursor: pointer;
    /* -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s; */
    outline: none;
}

button:active {
    background-color: #88E188;

}

.quantity-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quantity-button {
    border-radius: 50%;
    padding: 2px;
    background-color: none;
    width: 8%;
    height: 10%;
    font-size: 20px;
    margin-right: 40px;
    outline: none;
}

.continue {
    position: relative;
    padding-top: 0;
    margin-left: 50px;
    top: 5px;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    padding: 0;
    width: 15%; 
    border-radius: 10px;
    background-color: #D7CBCF;
    cursor: pointer;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    z-index: 10;
}

.arrow {
    position: absolute;
    left: -14px;
    padding: 0;
    border: none;
    color: purple;
    font-size: 8px;
    border-radius: 50%;
    box-shadow: 0 1px 5px grey;
    background-color: #D7CBCF;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    cursor: pointer;
}

.arrow:hover {
    background-color: #88E188;
    color: black;
}